<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <p>L’Institut Municipal de Persones amb Discapacitat (IMPD) treballa perquè Barcelona sigui una ciutat accessible i inclusiva. Per a aquesta finalitat, compta amb les persones amb discapacitat i les entitats que treballen en l’àmbit.</p>
        <p>El Consell Rector és l’òrgan dins l’Institut Municipal de Persones amb Discapacitat que aprova el Pla general de l’IMPD i les accions que es faran. Està format per vint persones: deu persones representants de l’Ajuntament i deu persones amb discapacitat.</p>
        <p>Aquestes deu persones amb discapacitat són escollides per les persones amb discapacitat de Barcelona que les representen dins l’Ajuntament. Cada quatre anys aquestes deu persones han de canviar. Aquest 2021 toca escollir-ne de noves i per això es fan aquestes eleccions.</p>
        <p>Les deu persones més votades passaran a formar part del Consell Rector de l’IMPD.</p>
        <div class="lead">
          Quins requisits has de complir per poder votar?
        </div>
        <ul>
          <li>Tenir reconeixement legal de la situació de discapacitat.</li>
          <li>En cas de ser una persona en situació de trastorn de salut mental que no disposi de reconeixement legal de la situació de discapacitat, has de tenir un diagnòstic psiquiàtric o un document que acrediti que t’estan atenent en un servei de rehabilitació psicosocial o en algun altre servei de salut mental.</li>
          <li>Estar empadronat o empadronada a Barcelona.</li>
          <li>Estar inclòs o inclosa en el cens electoral en el tipus de discapacitat o discapacitats on es vol votar.</li>
        </ul>
        <p>Participa-hi, decideix i transforma!</p>
      </div>
    </div>
  </div>
</div>
