<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <p>El Instituto Municipal de Personas con Discapacidad (IMPD) trabaja porque Barcelona sea una ciudad accesible e inclusiva. Para esta finalidad, cuenta con las personas con discapacidad y las entidades que trabajan en el ámbito.</p>
        <p>El Consejo Rector es el órgano dentro del Instituto Municipal de Personas con Discapacidad que aprueba el Plan general del IMPD y las acciones que se harán. Está formado por veinte personas: diez persones representantes del Ayuntamiento y diez personas con discapacidad.</p>
        <p>Estas diez personas con discapacidad son escogidas por las personas con discapacidad de Barcelona que las representan dentro del Ayuntamiento. Cada cuatro años estas diez personas tienen que cambiar. Este 2021 toca escoger de nuevas y por eso se hacen estas elecciones.</p>
        <p>Las diez personas más votadas pasarán a formar parte del Consejo Rector del IMPD.</p>
        <div class="lead">
          ¿Qué requisitos tienes que cumplir para poder votar?
        </div>
        <ul>
          <li>Tener reconocimiento legal de la situación de discapacidad</li>
          <li>En caso de ser una persona en situación de trastorno de salud mental que no disponga de reconocimiento legal de la situación de discapacidad, deberás tener un diagnóstico psiquiátrico o un documento que acredite que te están atendiendo en un servicio de rehabilitación psicosocial o en algún otro servicio de salud mental.</li>
          <li>Estar empadronado o empadronada en Barcelona.</li>
          <li>Estar incluido o incluida en el censo electoral en el tipo de discapacidad o discapacidades por la que se desea votar.</li>
        </ul>
        <p>Participa, decide y transforma!</p>
      </div>
    </div>
  </div>
</div>
