<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <p>L’1 de juny comencen les votacions de les eleccions al Consell Rector de l’Institut Municipal de Persones amb Discapacitat.</p>
        <div class="lead">
          Quins requisits has de complir per poder votar?
        </div>
        <ul>
          <li>Tenir reconeixement legal de la situació de discapacitat.</li>
          <li>En cas de ser una persona en situació de trastorn de salut mental que no disposi de reconeixement legal de la situació de discapacitat, has de tenir un diagnòstic psiquiàtric o un document que acrediti que t’estan atenent en un servei de rehabilitació psicosocial o en algun altre servei de salut mental.</li>
          <li>Estar empadronat o empadronada a Barcelona.</li>
          <li>Estar inclòs o inclosa en el cens electoral en el tipus de discapacitat o discapacitats on es vol votar.</li>
        </ul>
        <div class="lead">
          Què has de fer per estar inclòs o inclosa en el cens?
        </div>
        <ol>
          <li>Comprovar si estàs inscrit o inscrita en el cens. Ho has de fer clicant a l’opció <%= link_to "Comprova la inscripció al cens", search_voters_path %> del menú superior i emplenar el formulari.</li>
          <li>Si comproves que no estàs inscrit o inscrita en el cens i t’hi vols inscriure, has de clicar a l’opció <%= link_to "Inscripció al cens", new_voter_path %> del menú superior i emplenar el formulari.</li>
        </ol>
        <p><strong>IMPORTANT</strong>: Emplenar el formulari d’inscripció no garanteix el dret a vot de manera immediata. Les dades seran revisades a fi de comprovar que compleixes tots els requisits per poder votar. T’avisarem només en cas que hi hagi una incidència en la inscripció al cens.</p>
      </div>
    </div>
  </div>
</div>
