<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <p> El 1 de junio arrancan las votaciones de las elecciones al Consejo Rector del Instituto Municipal de Personas con Discapacidad.  </p>
        <div class="lead">
          ¿Qué requisitos debes cumplir para poder votar?
        </div>
        <ul>
          <li>Tener reconocimiento legal de la situación de discapacidad</li>
          <li>En caso de ser una persona en situación de trastorno de salud mental que no disponga de reconocimiento legal de la situación de discapacidad, deberás tener un diagnóstico psiquiátrico o un documento que acredite que te están atendiendo en un servicio de rehabilitación psicosocial o en algún otro servicio de salud mental.</li>
          <li>Estar empadronado o empadronada en Barcelona.</li>
          <li>Estar incluido o incluida en el censo electoral en el tipo de discapacidad o discapacidades por la que se desea votar.</li>
        </ul>
        <div class="lead">
          ¿Qué debes hacer para estar incluido o incluida en el censo?
        </div>
        <ol>
          <li>Comprobar si estás inscrito o inscrita en el censo. Para ello, debes hacer clic en la opción <%= link_to "Comprueba la inscripción en el censo", search_voters_path %> del menú superior y rellenar el formulario.</li>
          <li>Si compruebas que no estás inscrito o inscrita en el censo y quieres hacerlo, deberás hacer clic en la opción <%= link_to "Inscripción en el censo", new_voter_path %> del menú superior y rellenar el formulario.</li>
        </ol>
        <p><strong>IMPORTANTE</strong>: rellenar el formulario de inscripción no garantiza el derecho al voto de forma inmediata. Los datos se revisarán con el objetivo de comprobar que cumples con todos los requisitos para poder votar. Te avisaremos solo en caso de que haya alguna incidencia en la inscripción en el censo.</p>
      </div>
    </div>
  </div>
</div>
