<%= cell("decidim/announcement", "Announcement text") %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <div class="lead">
          <%= t ".short_description" %>
        </div>
        <%= t ".description" %>
      </div>
    </div>
  </div>
</div>
