<div class="process-header">
  <div class="process-header__inner">
    <div class="row column process-header__main" style="background-image:url("");"></div>
    <div class="process-header__container row collapse column">
      <div class="columns mediumlarge-8 process-header__info">
        <div>
          <h1 class="text-highlight heading2"> <%= t(".census_title") %> </h1>
        </div>
      </div>
    </div>
  </div>
  <%=
    extended_navigation_bar([
      {
        name: t(".intro"),
        url: decidim_elections_census.root_path,
        active: is_active_link?(decidim_elections_census.root_path, :exclusive)
      },
      {
        name: t(".search"),
        url: decidim_elections_census.search_voters_path,
        active: is_active_link?(decidim_elections_census.search_voters_path, :exclusive)
      },
      {
        name: t(".new"),
        url: decidim_elections_census.new_voter_path,
        active: is_active_link?(decidim_elections_census.new_voter_path, :exclusive)
      },
    ])
  %>
</div>
